.emma{
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 9999;
    &__primera{
        position: relative;
        width: 100%;
        opacity: 0;
        transition: 0.7s all ease;
        &-imagen{
            width: 365px;
            height: 150px;
            // background-image: url('../images/emma-desktop.jpg');
            background-image: url('../images/emma_large-active.png');
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            border-top-left-radius: 30px;
            box-shadow: 0px 0px 5px 0px #e6e7e8;
            border: 3px solid color('primario');
            background-size: cover;
            background-attachment: initial;
            background-repeat: no-repeat;
            background-position-y: 28%;
            bottom: 40px;
            @include transitionEmma;
            cursor: pointer;
            &.active{
                height: 75px;
                width: 75px;
                object-fit: cover;
                background-position: 100% 25%;
            }
            &.zoom{
                background-size: cover;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 0;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                height: 330px;
                width: 390px;
            }
        }
        &-contenedor{
            position: absolute;
            pointer-events: none;
            top: 30px;
            left: 30px;
            &.active{
                display: none;
            }
        }
        &-titulo{
            font-size: font('header-descripcion');
            color: color('secundario');
        }
        &-descripcion{
            font-size: font('header-opcion');
            color: color('gris-oscuro');
            font-weight: 600;
        }
        &-close{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            &.active{
                display: none;
            }
        }
        &.active{
            opacity: 1;
            opacity: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__close{
        @include flex;
        width: 0;
        height: 0;
        cursor: pointer;
        transition: all .8s ease;
        border:  3px solid color('primario');
        background-color: color('gris-oscuro');
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        margin-top: 5px;
        opacity: 0;
        pointer-events: none;
        &.active{
            opacity: 1;
            pointer-events: all;
            width: 70px;
            height: 70px;
        }
    }
    &__end{
        max-width: 210px;
        width: 100%;
        &-descripcion{
            color: color('secundario');
            font-size: 14px;
        }
        &-contenedor{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 30px;
        }
        &-links{
            font-size: 11px;
            color: color('gris-oscuro');
            font-weight: 600;
            padding: 10px 5px;
            background: color('primario');
            border: 1px solid color('gris-clarito');
            border-radius: 5px;
            width: 100%;
            @include transition;
            text-align: center;
            &:hover{
                background: color('gris-oscuro');
                color: color('primario');
            }
        }
    }
}

@media (max-width: breakpoint('celular')){
    .emma{
        &__primera-imagen.zoom{
            max-width: 390px;
            width: 94vw;
        }
        &__primera-imagen{
            width: 207px;
            height: 65px;
        }
        &__primera-titulo{
            font-size: 17px;
        }
        &__primera-descripcion{
            font-size: 10px;
        }
        &__primera-contenedor{
            top: calc(50% - 22px);
            left: calc(50% - 64px);
        }
        &__primera-close{
            display: none;
        }
    }
}