.orange{
    color: color('naranja');
    &__light{
        font-weight: lighter;
        color: color('naranja');
    }
}
.white{
    color: color('primario');
    &__light{
        font-weight: lighter;
        color: color('primario');
    }
}
.grey{
    color: color('gris-oscuro');
    &__light{
        font-weight: lighter;
        color: color('gris-oscuro');
    }
}
.amarillo{
    color: color('amarillo');
    &__light{
        font-weight: lighter;
        color: color('amarillo');
    }
}
.black{
    color: color('secundario');
    font-weight: 600;
    &__light{
        color: color('secundario');
        font-weight: lighter;
    }
}