.formulario{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    position: relative;
    &__suscribete-flex{
        display: flex;
        max-width: 90%;
        margin: auto;
        gap: 30px;
    }
    &__left{
        width: 45%;
        &--descripcion{
            font-size: font('suscribete-formulario');
            font-weight: lighter;
            color: color('primario');
        }
    }
    &__rigth{
        width: 55%;
    }
    &__contenedor{
        width: 75%;
    }
    &__input{
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-radius: 10px;
        border: none;
        outline: inherit;
        @include transition;
        &:focus{
            border: 2px solid color('naranja');
        }
    }
    &__grupo-btn-enviar{
        width: 25%;
    }
    &__btn{
        width: 100%;
        height: 40px;
        font-size: font('suscribete-btn');
        outline: inherit;
        border: none;
        border: 2px solid color('primario');
        border-radius: 10px;
        cursor: pointer;
        background: color('naranja');
        color: color('primario');
        font-weight: bolder;
        @include transition;
        &:hover{
            opacity: 0.8;
        }
    }
    &__input-error{
        color: color('primario');
        font-size: 12px;
        margin-bottom: 10px;
        display: none;
    }
    &__label{
        font-size: font('suscribete-politica');
        color: color('primario');
        display: flex;
        align-items: center;
        gap: 5px
    }
    &__grupo--checkbox{
        margin-top: 10px;
    }
    &__link{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    &__grupo--incorrecto .formulario__input{
        border: 3px solid color('danger');
    }
    &__grupo--incorrecto .formulario__input-error{
        display: block;
    }
    &__mensaje-exito{
        color: color('check');
        font-weight: lighter;
        position: absolute;
        bottom: 0;
        right: 0;
        display: none;
        &.active{
            display: block;
        }
        &--color{
            color: color('danger');
        }
    }
}

//emma

.form__emma{
    &-bloque{
        line-height: 2;
    }
    &-contenedor{
        position: absolute;
        top: 40px;
        left: 20px;
        opacity: 0;
        pointer-events: none;
        &.active{
            transition: all 1.5s ease;
            opacity: 1;
            pointer-events: all;
        }
        &.hidde-important{
            opacity: 0 !important;
            pointer-events: none;
        }
    }
    &-titulo{
        font-size: 20px;
        color: color('secundario');
        font-weight: 600;
    }
    &-descripcion{
        font-size: 14px;
        color: color('secundario');
        font-weight: 100;
        margin-top: 5px;
        max-width: 240px;
    }
    &-input{
        height: 30px;
        line-height: 30px;
        border: none;
        border: 1px solid color('gris-clarito');
        border-radius: 5px;
        outline: inherit;
        color: color('gris-oscuro');
        margin-top: 10px;
        padding-left: 10px;
        @include transition;
        &:focus{
            border: 2px solid color('naranja');
        }
        &::placeholder { 
            color: color('gris-oscuro');
            font-weight: 600;
            font-size: 11px;
        }
    }
    &-validacion{
        color: color('danger');
        font-size: 11px;
        display: none;
    }
    &-button{
        border: none;
        outline: inherit;
        border: 1px solid color('primario');
        border-radius: 5px;
        font-size: 12px;
        color: color('primario');
        font-weight: 600;
        padding: 8px 35px;
        background: linear-gradient(90.73deg, #E8AD00 9.83%, #F47920 92.88%);
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
    //VALIDACION

    &-bloque-incorrecto .form__emma-validacion{
        display: block;
    }
    &-bloque-incorrecto .form__emma-input{
        border: 2px solid color('danger');
        &::placeholder{
            color: color('danger');
        }
    }
}

.form-ap{
    margin-top: 30px;
    &__label{
        color: color('primario');
        font-size: font('suscribete-politica');
        font-weight: bolder;
        cursor: pointer;
        margin: 0 0 10px 5px;
    }
    &__contenedor{
        position: relative;
    }
    &__bloque{
        margin: 15px 0;
    }
    &__input{
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: color('gris-oscuro');
        border-radius: 5px;
        padding: 0 10px;
        outline: inherit;
        border: none;
        transition: .2s all ease;
        background: color('primario');
        &:focus{
            border: 2px solid color('naranja');

        }
        &--mensaje{
            height: 80px;
            line-height: 20px;
            resize: none;
        }
    }
    &__validacion{
        color: color('primario');
        font-size: font('suscribete-politica');
        margin: 5px 0 10px 0;
        display: none;
    }
    &__enviar{
        display: flex;
        justify-content: center;
    }
    &__submit{
        outline: inherit;
        border: none;
        color: color('primario');
        background: color('naranja');
        border: 1px solid color('primario');
        border-radius: 5px;
        padding: 10px 45px;
        cursor: pointer;
        @include transition;
        &:hover{
            background: colorDarken('naranja', 8);
        }
    }
    &__icono{
        position: absolute;
        color: color('check');
        font-size: 15px;
        top: calc(50% - 7.5px);
        right: 15px;
        opacity: 0;
    }
    &__mensaje{
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 20px;
        background: color('danger');
        margin-bottom: 20px;
        display: none;
    }
    &__mensaje-contenido{
        color: color('primario');
        font-size: font('card-bono');
    }
    &__mensaje-icono{
        color: color('primario');
    }
    &__mensaje.active{
        display: flex;
    }
    &__enviado{
        text-align: center;
    }
    &__mensaje-contenido--verde{
        color: color('check');
        display: none;
        margin-bottom: 20px;
    }
    &__mensaje-contenido--verde.active{
        display: block;
    }
    &__radio-contenedor{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &__radio-texto{
        color: color('primario');
        font-weight: lighter;
        font-size: font('comprar-lugar');
    }
    &__radio-right{
        display: flex;
        gap: 10px;
    }
    &__radio-input{
        display: none;
    }
    &__radio-label{
        color: color('gris-oscuro');
        background: color('primario');
        width: 100%;
        height: 45px;
        line-height: 45px;
        padding: 10px 30px;
        border-radius: 5px;
        cursor: pointer;
        @include transition;
        &:hover{
            box-shadow:  inset 1px 2px 5px 0px #58595b;
        }
        &.active{
            box-shadow:  inset 1px 2px 5px 0px #58595b;
            background: color('naranja');
            color: color('primario');
        }
    }


    //VALIDACION

    &__bloque-bien .form-ap__icono{
        opacity: 1;
    }
    &__bloque-bien .form-ap__input{
        border: 2px solid color('check');
    }

    &__bloque-mal .form-ap__input{
        border: 2px solid color('danger');
    }
    &__bloque-mal .form-ap__label{
        color: color('danger');
    }
    &__bloque-mal .form-ap__validacion{
        display: block;
    }

}

@media (max-width: breakpoint('celular')){
    .formulario{
        &__suscribete-flex{
            flex-direction: column;
        }
        &__left{
            width: 100%;
        }
        &__rigth{
            width: 100%;
        }
        &__left--descripcion{
            font-size: font_mobile('subtitulos-mobile');
        }
    }
}