.tab{
    overflow: hidden;
    &__item {
        width: 100%;
        flex-shrink: 0;
    }
    &__contenedor {
        display: flex;
        flex-wrap: nowrap;
        transform: translateX(0);
        transition: all 0.3s ease-in;
    }
    
    &__controls {
        display: flex;
    }
    &__button.active {
        position: relative;
    }
}
.item{
    position: relative;
}
.tab-macro{
    overflow: hidden;
    &__item {
        width: 100%;
        flex-shrink: 0;
        padding: 50px 45px;
        background: color('primario');
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &--border{
            border: 1px solid color('gris-clarito');
            padding: 50px 70px;
        }
    }
    &__zoom{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px !important;
        height: 30px;
        background: color('gris-claro');
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        @include transition;
        &:hover{
            box-shadow: inset 1px 2px 5px 0px #58595b;
        }
    }
    &__contenedor {
        display: flex;
        flex-wrap: nowrap;
        transform: translateX(0);
        transition: all 0.3s ease-in;
    }
    &__limit{
        max-width: 1300px;
        margin: auto;
        width: 90%;
    }
    &__firts-block{
        width: 25%;
    }
    &__second-block{
        width: 70%;
    }
    &__controls {
        display: flex;
    }
    &__multimedia{
        display: flex;
        justify-content: space-between;
    }
    &__descripcion{
        color: color('gris-oscuro');
        line-height: 1.5;
        font-weight: lighter;
    }
    &__legales{
        margin-top: 30px;
        color: color('gris-oscuro');
        font-weight: bold;
        text-align: right;
        font-size: font('suscribete-politica');
        &--black{
            color: color('secundario');
        }
        &--white{
            color: color('primario');
        }
    }
    &__button {
        width: auto;
        padding: 18px 40px;
        color: color('primario');
        background-color: color('gris-oscuro');
        font-size: 17px;
        font-weight: 600;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        outline: inherit;
        border: none;
        margin-right: 2px;
        cursor: pointer;
        @include transition;
        &:hover{
            background: color('naranja');
        }
        &--flex{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    
    &__button.active {
        background: color('naranja');
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: -10px;
            left: calc(50% - 12.5px);
            width: 0;
            height: 0;
            border-width: 10px 10px 0px;
            border-style: solid;
            border-color: color('naranja') transparent transparent;
            z-index: 99;
        }
    }
    &-amenidades{
        margin-top: 30px;
        &__titulo{
            font-size: font('comprar-titulo');
            color: color('gris-oscuro');
        }
        &__grid{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 20px;
        }
        &__contenedor{
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 30px;
        }
        &__texto{
            font-size: font('footer-ubicacion');
            color: color('gris-oscuro');
            font-weight: 600;
        }
        &__firts-block{
            width: 35%;
        }
        &__second-block{
            width: 55%;
        }
        &__imagen{
            width: 100%;
            height: 440px;
            object-fit: cover;
            border-radius: 5px;
        }
        &__contenedor--start{
            align-items: flex-end;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        &__texto--color{
            color: color('naranja');
            font-size: font('header-titulo');
            font-weight: lighter;
        }
    }
}
@media(max-width: breakpoint('ipad-grande')){
    .tab-macro{
        &-amenidades{
            
            &__grid{
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
@media(max-width: breakpoint('ipad-pequeña')){
    .tab-macro{
        &__multimedia{
            flex-direction: column;
            gap: 20px;
        }
        &__firts-block,
        &__second-block{
            width: 100%;
        }
    }
    .tab-macro{
        &__item--border{
            padding: 45px 40px;
        }
        &-amenidades{
            &__grid{
                grid-template-columns: repeat(3, 1fr);
            }
            &__firts-block,
            &__second-block{
                width: 100%;
            }
            &__descripcion--margin{
                margin-bottom: 20px;
            }
        }
    }
    
}
@media(max-width: breakpoint('celular')){
    .tab-macro{
        &__limit{
            display: none;
        }
        &__item--border{
            padding: 0;
            border: none;
        }
    }
    .tab-macro{
        &-amenidades{
            
            &__grid{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}